body
{
    margin: 0;
    font-family: Verdana, Geneva, sans-serif; 
}
h1
{
    width: 90%;
    margin: auto;
    padding: 40px 0;
    letter-spacing: 2px;
    font-weight: 100;
    text-transform: capitalize;
    text-align: center;
}
template
{
    display: grid;
    grid-gap: 50px 40px;
    grid-template-columns: (1, 3fr);
    width: 20%;
    margin: auto;
    padding-bottom: 40px;
}
#box 
{
    width: 30%;
    background-color: white;
    box-shadow: 1px 2px 6px 2px rgb(219, 219, 219);
}
#box:hover
{
    box-shadow: 1px 6px 3px 0 rgb(185, 185, 185);
}
img
{
    width: 100%;
}

#details
{
    padding: 10px 15px;
    text-transform: capitalize;
}
#box a 
{
    text-decoration: none;
    color: rgb(29, 29, 29);
}
h3
{
    font-size: 16px;
}
h2
{
    color: rgb(3, 94, 94);
}

/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width: 1070px)
{
    h1
    {
        font-size: 25px;
    }
    #containerClothing, #containerAccessories
    {
        width: 95%;
        grid-gap: 10px;
    }
}
@media(max-width: 850px)
{
    h1 
    {
        width: 80%;
    }
    #containerClothing, #containerAccessories
    {
        display: grid;
        grid-gap: 70px 20px;
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
    }    
}
@media(max-width: 650px)
{
    h1
    {
        font-size: 20px;
    }
    h1 
    {
        width: 90%;
    }
    #containerClothing, #containerAccessories
    {
        width: 90%;
    }
}
@media(max-width: 600px)
{
    h1 
    {
        width: 70%;
    }
    #containerClothing, #containerAccessories
    {
        width: 70%;
    }
}
@media(max-width: 505px)
{
    h1 
    {
        width: 80%;
    }
    #containerClothing, #containerAccessories
    {
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
    }
}